* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.grid {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #350044;
}
