.container {
  max-width: 300px;
  .content {
    h2 {
      white-space: nowrap;
      overflow: hidden;
    }
    .stats {
      display: flex;
      justify-content: space-between;
    }
    p {
    }
    .tier {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .power {
    }
  }
  button {
    text-transform: uppercase;
    cursor: pointer;
  }
}
